<div class="container-fluid  text-light footer mt-5 pt-5 wow fadeIn" data-wow-delay="0.1s">
  <div class="container py-5 px-lg-5">
    <div class="row g-5">
      <div class="col-md-6 col-lg-3">
        <p><i class="fa fa-map-marker-alt me-3"></i>Av Abdelkrim Khattabi, B.P. 511 - 40000 -</p>
        <p><i class="fa fa-phone-alt me-3"></i>(+212) 524 437 741 / (+212) 524 434 814 </p>

        <p><i class="fa fa-envelope me-3"></i>ucacom@uca.ma</p>
        <div class="d-flex pt-2">
          <a class="btn btn-outline-light btn-social" href=""><i class="far fa-envelope"></i></a>
          <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <h5 class="text-white mb-4">Popular Link</h5>
        <a class="btn btn-link" href="">About Us</a>
        <a class="btn btn-link" routerLink="/contact" >Contact Us</a>

      </div>

      <div class="col-md-6 col-lg-3">
        <h5 class="text-white mb-4">L'Université Cadi Ayyad :</h5>
        <p> Soutenant la recherche et l'avenir professionnel des enseignants chercheurs et doctorants à travers des projets scientifiques, manifestations, stages et missions de type A.</p>

      </div>
    </div>
  </div>
  <div class="container px-lg-5">
    <div class="copyright">
      <div class="row">
        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
          &copy; <a class="border-bottom" href="#">TypeA</a>, Tous droits réservés..

          <!--/* This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. */-->
        </div>
        <div class="col-md-6 text-center text-md-end">
          <div class="footer-menu">
            <a href="">Home</a>
            <a href="">Cookies</a>
            <a href="">Help</a>
            <a href="">FQAs</a>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

