@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
body {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}
:root {
  --orange: #cc6128;
  --secondary: #d17537;
  --light: #06337f;
  --dark: #1D1D27;
}

.img {
  width: 70px;
}
.d-flex.align-items-center.mt-4 a{

}

.d-flex.align-items-center.mt-4 a.btn {
  background: linear-gradient(to bottom right, #ff914d, #ff6a3d);
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 1.2rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.d-flex.align-items-center.mt-4 a.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease-out, visibility 0s linear .5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity .5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}

h1,
h2,
h3,
.fw-bold {
  font-weight: 700 !important;
}

h4,
h5,
h6,
.fw-medium {
  font-weight: 500 !important;
}

.btn {
  font-weight: 500;
  transition: .5s;
  cursor: pointer;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  border-radius: 50px;
}

.navbar-light .navbar-nav .nav-link {
  position: relative;
  margin-left: 25px;
  padding: 35px 0;
  color: var(--light) !important;
  outline: none;
  transition: .5s;
}

.sticky-top.navbar-light .navbar-nav .nav-link {
  padding: 20px 0;
  color: var(--dark) !important;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: var(--secondary) !important;
}

.navbar-light .navbar-brand h1 {
  color: #000000;
}

.navbar-light .navbar-brand img {
  max-height: 60px;
  transition: .5s;
}
.navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link {
  color: black !important;
}
