<header class="navbar fixed-top bg-surface-primary border-bottom p-5" style="margin: 0;padding: 0">
  <div class="container-fluid">
    <div class="row align-content-center" style="width: -webkit-fill-available;">
      <div  class="col-lg-10">


      </div>
      <div  class="col-lg-2">

        <li class="nav-item dropdown " style="display: flex; justify-content: end; ">
          <div class="nav-item dropdown" >
            <a  class="nav-link dropdown-toggle"
                data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" style="color: #232323 ">
              <i class="fa-solid fa-user-pen" style=" color: #595959; "></i> Connectée
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" (click)="onLogoutAdmin()"><i class="fa-solid fa-arrow-right-from-bracket"></i> Deconnecté</a>
            </div>

          </div>
        </li>
      </div>

    </div>


  </div>
</header> <!-- Main -->
