.row {
    display: flex;
    width: 100%;
    wrap: wrap;
}

.col-left{
    max-width: 20%;
    flex: 0 0 20%;
    display: flex;
    width: 100%;
    wrap: wrap;
}

.col-right{
    font-weight: bold;
    position: fixed;
    top: 17px;
    right: 280px;
}

.logo{
    margin-left: 10px;
    width: 86px;
    height: 86px;
}

hr{
    border: 0.3px solid black;
}

.text-center{
    text-align: center;
}

.footer{
    position: fixed;
    bottom: 10px;
    font-size: 12px;
    display: flex;
    width: 100%;
    wrap: wrap;
}

.tab{
    margin-left: 30px;
}

.content{
    padding: 10px 30px 10px 30px;
}

