<app-header></app-header>
<section class="section">
  <div class="container">
    <div class="row justify-items-center">
      <div class="col-lg-4 col-sm-6  mb-lg- mb-1">
        <div class="hover-bg-primary text-center position-relative px-4 py-5 rounded-lg shadow">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQIbm0f0HK3wkPFVhhBCCnzrTCfvYieT_Vkv4PHaXvE7VrV6iWwk7CHvafqXG4UqAuWa1w&usqp=CAU"
            class="img-fluid col-7" alt="feature-image">
          <h2 class="pt-5 pb-3 text-capitalize card-title">Données professionnelles </h2>
          <p class="mb-4"> Avant de postuler pour un stage ou une manifestation vous devez remplir vos informations
            professionnelles pour une seule fois et les modifiées quand vous voulez</p>
          <a *ngIf="isLogged; else donnepro" class="btn btn-outline-primary" data-abc="true"
             routerLink="/information-dem">remplir</a>
          <ng-template #donnepro>
            <a class="btn btn-outline-primary" data-abc="true" routerLink="/login">voir</a>
          </ng-template>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 ms-4 mb-1">
        <div class="hover-bg-primary text-center position-relative px-4 py-5 rounded-lg shadow"><img
          src="../../../assets/images/mstage.webp"
          class="img-fluid col-7" alt="feature-image">
          <h2 class="pt-5 pb-3 text-capitalize card-title">Mission ou un Stage</h2>
          <p class="mb-4">Etant un enseignant chercheur ou un doctorant, l'université Cadi Ayyad vous présente la
            possibilité de bénificier d'un soutien pour une mission ou un stage
          </p>
          <a *ngIf="isLogged; else postulermstage" class="btn btn-outline-primary" data-abc="true"
             routerLink="/postuler-mission">postuler</a>
          <ng-template #postulermstage>
            <a class="btn btn-outline-primary" data-abc="true" routerLink="/login">voir</a>
          </ng-template>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6   mt-2 mb-lg- mb-1">
        <div class="hover-bg-primary text-center position-relative px-4 py-5 rounded-lg shadow"><img
          src="../../../assets/images/manifestation.jpg"
          class="img-fluid col-7" alt="feature-image">
          <h2 class="pt-5 pb-3 text-capitalize card-title">Manifestation scientifique</h2>
          <p class="mb-4">Etant un enseignant chercheur ou un doctorant, l'université Cadi Ayyad vous présente la
            possibilité de bénificier d'un soutien pour une manifestation

          </p>
          <a *ngIf="isLogged; else postulermanif" class="btn btn-outline-primary" data-abc="true"
             routerLink="/postuler-manif">postuler</a>
          <ng-template #postulermanif>
            <a class="btn btn-outline-primary" data-abc="true" routerLink="/login">voir</a>
          </ng-template>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mt-2 ms-4  mb-lg- mb-1">
        <div class="hover-bg-primary text-center position-relative px-4 py-5 rounded-lg shadow">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQIbm0f0HK3wkPFVhhBCCnzrTCfvYieT_Vkv4PHaXvE7VrV6iWwk7CHvafqXG4UqAuWa1w&usqp=CAU"
            class="img-fluid col-7" alt="feature-image">
          <h2 class="pt-5 pb-3 text-capitalize card-title">Historique</h2>
          <p class="mb-4">Retrouvez ici toutes vos anciennes demandes de soutien Type A, que ce soit pour une Manifestation Scientifique ou une Mission ou Stage</p>
          <a *ngIf="isLogged; else historique" class="btn btn-outline-primary" data-abc="true" routerLink="/historique">voir</a>
          <ng-template #historique>
            <a class="btn btn-outline-primary" href="#" data-abc="true" routerLink="/login">voir</a>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</section>


<app-footer></app-footer>
