<nav
  class="navbar show navbar-vertical h-lg-screen navbar-expand-lg px-0 py-3  border-bottom border-bottom-lg-0 border-end-lg"
  style="background-color:#fff8eb;"
  id="navbarVertical">
  <div class="container-fluid"> <!-- Toggler -->
    <button class="navbar-toggler ms-n2" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarCollapse"
            aria-controls="sidebarCollapse" aria-expanded="false" aria-label="Toggle navigation"><span
      class="navbar-toggler-icon"></span></button> <!-- Brand --> <a
      href="#"> <img
      src="../../../assets/images/img.png" width="36%" style="margin-left: 70px;">
    </a> <!-- User menu (mobile) -->
    <div class="navbar-user d-lg-none"> <!-- Dropdown -->
      <div class="dropdown"> <!-- Toggle --> <a href="#" id="sidebarAvatar" role="button" data-bs-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
        <div class="avatar-parent-child"><img alt="Image Placeholder"
                                              src="https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80"
                                              class="avatar avatar- rounded-circle"> <span
          class="avatar-child avatar-badge bg-success"></span></div>
      </a> <!-- Menu -->
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="sidebarAvatar"><a href="#"
                                                                                        class="dropdown-item">Profile</a>
          <a href="#" class="dropdown-item">Settings</a> <a href="#" class="dropdown-item">Billing</a>
          <hr class="dropdown-divider">
          <a href="#" class="dropdown-item">Logout</a></div>
      </div>
    </div> <!-- Collapse -->
    <div class="collapse navbar-collapse" id="sidebarCollapse"> <!-- Navigation -->
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="dashboard" style="color: #855401;"> <i class="bi bi-house"></i> Dashboard </a></li>
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="demandes-Stage" style="color: #855401;"> <i class="bi bi-bar-chart"></i>  Stage

        </a></li>
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="message" style="color: #855401;"> <i class="bi bi-chat"></i> Messages
        </a></li>
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="demandes-Manif" style="color: #855401;"> <i class="bi bi-bookmarks"></i>  Manifestation </a></li>
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="demandeurs" style="color: #855401;"> <i class="bi bi-people"></i> Demandeur </a></li>
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="budget" style="color: #855401;"> <i class="fa fa-solid fa-sack-dollar"></i>Budget Annuel </a></li>
      </ul> <!-- Divider -->
      <hr class="navbar-divider my-5 opacity-20"> <!-- Navigation -->
      <ul class="navbar-nav mb-md-4">

      </ul> <!-- Push content down -->
      <div class="mt-auto"></div> <!-- User (md) -->
    </div>
  </div>
</nav>
